name: CI GCC
on: [push]

jobs:
  test:
    name: CI Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Include $CONDA in $PATH
      run: echo ::add-path::$CONDA/bin
    - name: Print conda info
      run: conda info -a
    - name: Create conda environment
      run: conda env create -f ./environment.yml
    - name: Print version numbers
      run: |
        source activate cpp-test
        cmake --version
        gcc --version
    - name: Run cmake
      run: |
        source activate cpp-test
        mkdir build
        cd build
        cmake ../
    - name: Compile
      run: |
        source activate cpp-test
        cd build
        make -j2
    - name: Run tests
      run: |
        source activate cpp-test
        cd build
        ctest
